  /* 近未来的なコンサート感, モノトーン + 鮮やかな色, 音楽記号の使用 */
            body {
                background: #1b1b1b url(../images/ライブ.jpg) no-repeat center center; /* 音楽関連の背景画像を設定 */
                background-size: cover;
                /*backdrop-filter:blur(10px);*/
                background-color:#f5f5dc;
                color: #ddd;
                font-family: sans-serif;
            }
            a {
                color: #fca311; /* 音楽感を与える鮮やかな色 */
                transition: 0.3s;
            }
            a:hover {
                color: #fb5607; /* ホバー時に色を変える */
                text-decoration: none;
                transform: scale(1.1);
            }
            button:hover {
    color: #fb5607; /* ホバー時の色変更 */
    transform: scale(1.1);
}

            .form-control {
                width: 60%;
                margin: auto;
                border: none;
                border-bottom: 2px solid #fca311; /* 対応する色に変更 */
                border-radius: 0;
                outline: none;
                background: none;
                color: #ddd;
                transition: 0.3s;
            }
            .form-control:focus {
                border-bottom-color: #fb5607; /* フォーカス時の色を変える */
            }
            .btn {
                border: 2px solid #fca311; /* ボーダーに色をつける */
                border-radius: 50px; /* 丸みを帯びたボタン */
                color: #fca311;
                background: transparent;
            }
            .btn:hover {
                background: #fca311; /* ホバー時に背景色をつける */
                color: #fff;
            }
          .btn-lg {
   background-color: #ff6347; /* トマト色に変更 */
   color: #fff; /* ボタン内の文字色を白に設定 */
}
.btn-lg:hover {
   background-color: #ff7f50; /* ホバー時はコーラル色に */
   color: #fff; /* ホバー時も文字色は白のまま */
}
h1 {
    text-decoration: underline; /* タイトルの下線 */
    text-shadow: 2px 2px 4px #000; /* 影をつける */
    background-color: #fca311; /* 背景色をオレンジ色に */
    border-radius: 10px; /* 角を丸くする */
    padding: 10px; /* パディングを追加 */
    display: inline-block; /* パディングと背景色を適用する範囲を調整 */
    font-size: 2em;
}

.subtitle-style {
    font-style: italic;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #000;
    background-color: #fcbf49;
    border-radius: 10px;
    padding: 10px;
    display: block;
    width:fit-content;
    margin:auto;
    font-size: 2em;
}

.parent{
    display:flex;
}

.artist {
    color: #333;
}

.venue {
    color: #333;
}

.setlist-table {
  width: 100%;
  border-collapse: collapse;
}

.setlist-table th,
.setlist-table td {
  border: 1px solid #ccc;
  padding: .5rem;
  background:#FFFFFF;
  color:#FF9900;
}
.setlist-table th {
  text-align: center;

}

nav a {
  text-decoration: none;
  color: #000;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

.btn-custom {
  max-width: 200px; 
  margin: auto; 
  display: block;
}

.my-toast{
    color: #000000;
} 
